.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  /* width: 100; */
  height: 30rem;
  background-color: var(--inactive-color);
}
.social {
  display: flex;
  align-items: center;
  /* margin: 0 auto; */
  justify-content: center;
  gap: 4rem;
}
.social-icon {
  font-size: 3rem;
  color: #000;
}
.social-icon:hover {
  color: var(--zomato-red);
}
.footer-line {
  font-size: 1.6rem;
  font-weight: 500;
}
