.taboptions {
  box-shadow: var(--border-white) 0px -0.5px 0px inset;
}
.option-wrapper {
  display: flex;
}
.tab-item {
  margin-right: 2.5rem;
  padding: 1.2rem 1.2rem 2rem 1.2rem;
}
.tab-name {
  font-size: 2rem;
  font-weight: 600;
  margin-left: 1rem;
  color: var(--inactive-text);
}

.tab-img-container {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: var(--inactive-color);
}

.tab-image {
  height: 3rem;
  width: 3rem;
}
.active-tab {
  border-bottom: 2px solid var(--zomato-red);
}
.active-tab .tab-name {
  color: var(--zomato-red);
}
